/* @import url('~@blueprintjs/icons/lib/css/blueprint-icons.css'); */
@import url("~@blueprintjs/core/lib/css/blueprint.css");

.container {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -0.5rem;
    overflow: hidden;
}
.bp3-card {
    height: 100%;
}